<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add supervisor</title>
</head>
<body>
    <h1>Add Supervisor</h1>
    <form method="post">
        {% csrf_token %}
        New supervisor's name: <input type="text" name="name" required>
        New supervisor's username: <input type="text" name="uname" required>
        New supervisor's password: <input type="text" name="pwd" required>
        New supervisor's insurance information: <input type="text" name="ins">
        <input type="submit" value="Add supervisor">
    </form>
    <a href="/home_Supervisor.html">Supervisor Homepage</a>
</body>
</html>