<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Password</title>
</head>
<body>
    <h1>Edit password for {{ user.name }}</h1>
    {{ message }}
    <br><br>

        Password : {{ user.pwd }}
        <br><br>
        <form method="post">
        New password : <input type="text" name="user_pwd" value="{{ user.pwd }}">
        <br><br>
        <input type="submit" name="edit_field" value="Change password">
        </form>


    <br><br>
    <a href="/">Back</a>
</body>
</html>