<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body {
            text-align: center;
        }
        h1 {
            background-color: green;
        }

        div {
            background-color: lightblue;
        }

        p {
            background-color: yellow;
        }
    </style>
</head>
<body>

<h1>Teaching tool plus</h1>

<p> Hello, we hope you enjoy using our app! </p>

<a href="info.html">info</a>
<a id="NavToLogin" href="login.html">login</a>

</body>
</html>
