<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEBEQ
    EBAVFQ8VERAVFRUQEA8PEBUVFREWFhUWFRUYHSggGBolGxUVIjEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGxAQGy0mHyUrLS0tLSsvKystLSstLS0t
    LS0tLS0tLS0rLS0tLS0tLS0tLS0tLS0tLS0tLTctKzctK//AABEIAOEA4QMBIgACEQEDEQH/xAAbAAEAAgMBAQAAAAAAAAAAAAAAAQIDBQYEB//EAD0Q
    AAIBAgIFCQcCBgEFAAAAAAABAgMRBAUGEiExQRMiMlFhcYGRoSNCUnKxwdEHkhQzYsLh8LIkQ1Njov/EABoBAQACAwEAAAAAAAAAAAAAAAACAwEEBQb/
    xAAqEQADAAEEAQQBAwUBAAAAAAAAAQIDBBEhMRIFE0FRMmFxkSJCUoGhFP/aAAwDAQACEQMRAD8A+4gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhgAkEAAkEAAkEAAkFZM1GN0lw1NtOpeS4QTn5tbDKl10iNXM9s3IOXWmuHv0
    KluvVj+TZYHSDD1naFRa3wyvF+F95J4rXaILND6ZtgVTJIFpIIABIIABIIABJFyGa7Ns0hQhrS2yfRjxb/BmZdPZELuYW9Gw5RXtfba9ixocsrSjQnia
    vTmtZLclH3I9231NzhaqnCM1ukk/NEapK/DfkRflO5mBAMkyQQACQAAQwGAAAAAAAAY61ZRTlJ2ik229yRkON/UHMXGMMPF9PnT+VPYvF/Qnjh3SlEMl
    +E7mn0h0lnXbhTbjQ3bLpz7ZdnYaFMomTc7WPHMLZHFyXVvdlyblEWLCnY6jRvSaVNqlWk5Unuk7uUO98YnewldHxs+gaEZk6lF05PnU2kvlfR+jXgc3
    V4FK85Ojo87b8K/0dMADQOkAAwAQ2UqVVFOUmlFb23ZLvORzvSu94YfxqNf8V9yzHirI9pKc2eMS3pm4zvPoUE4rnVXujwXbI5XAU54vELXd9t5Pgorh
    bhwXialybd3dt7297b+p32jOWcjS1pL2k7Sl1pcIm9czpse67Zy4u9Xl2f4ox6S10oQpLjtfct3+9hm0Zr3pOL3xfo/83NHm2I5SrOXBOy7ls/J7NGat
    qrj8UfVWa+546NU61u/x0dj5OqAB3yQAABIAAIYDAAAAAAAAZ8v04q3xs11Qpr0v9z6gz5t+oeGccVGp7s6a84tp+jRtaN7ZDX1S3g5pMlMpclM65y9j
    ImTcx3LJgg0ZEzp9AJ/9RUXB0tvhJfk5W52H6eYdudarwUYwXe3d/Y19U17TLdPL91HdIkrc02a6S0KN1r68/hht83uRyJl09kjsValbtm6bNJnGklGj
    eKevU+GL3fM9yOQzXSevWvFPk6fwwbu++W9mmTN7Fovm/wCDnZtdtxBs80zirXfPlzb7Ix2RX5PDcx3Nhk+XSxFRQj0d8pcFH8m9/Tjn6RzWry3+pttE
    cp5WfKzXs4PYuEpfhHVZ5iuToyt0pc1eO9+Vz14TDRpwjCKtGKSRyufYzlKrS6MLpd/F/Y8x6rrNob++EdzBhWGNvk1x7cpnq16b/qt5qx4zLQlacX1S
    j9TyeKtskv8AUuR3qBEST2i6JgAGQSAACGAwAAAAAAADSaVZR/E0HGP8yL1od9t3in9DdgzNOXujFSqWzPh04uLcZJqSdmnsaa3phH0/SLRanieenqVr
    dJLZK25SXHv3nC5jo1iqN3KnrQXvQalG31XidbDqZtc9nNyYHP7GruSmUuSmbRrtGWO12v57jr8JpLRwtFUaEHUmtspvmQcnve3a/wAWONTJuVZMSvZV
    0Sm3HKNvmWkOIrXU52g/dhzY/lmsKJkpk5iZ4SKqdVy2ZLk3KXPZlmX1K81Tpq74v3Yrrb/24qlK3ZBQ29kTl2CnXqKnTV5PyS4t9h9NybK4YemoR3+9
    LjJ9ZjyTJoYaGrHbNpa0nvk/suw2NSairvctrORqdT5vZdHW02mWNbvs1+d47kqbt05bI/d+BxyPXmuOdao5e6tke7/J5EeO12o97Jx0jYbJLx3rvX1K
    GSC2rvX1NCfyQO9huXcixEST209EwACQJAABDAYAAAAAIuafO9JKGFXtJXqcIQ2zf2XiZUtvZGG9jcXNVm2kOHw91UqLX+CHPn5Ld4nzvOdMsRXvGL5K
    l1U29Z/NLf5WOeubuPRN82yi8/8AidtmWn9SWyhSUF8VTny8lsXqc1jc1rVv5tWUuxvm/tWw16kWTNyMMR0jVq6rtl7kplETcuKmjImTcxplrmSLRdMs
    mZcDgataWrRg5S7LWXe3sXidxkehUIWniWpy+Bfy13/F9CjLnjH2TjDV9HOZDo/VxLvbVo8Zvjs3RXF+h9HyvLadCChTjZcX7zfW3xZ6qdNJWWxWskrJ
    LuLnLzZ6yPno6GLBOP8Acg5rSXM7+xg/nf8Aae3P82VJakH7Rr9q632nI3vte1vi95wfUdYkvbjv5LKexJZFUWRwCsk9OChepBdc4/VHmNnkFPWrx6o6
    z9LfcswR55ZX6k0dfEkA9kiYABkEgAAhgMAAx16sYxcpNKKV227JLtZhzHHQo05VaslGEVdt/RdbPkmlOlFTFysrww6fNhff2z639C7FhrI+OiFWkb7S
    XTxyvTweyO51X0n8ie7vZxE5uTcm25Pa3Jtt974mJMlM6uPFONbI16brsvcsmY0z0YTCVKrtSpym/wCmLl9CxtLsr8WUJTOkwOg2MntnGNJf+yab8o3N
    /gv08pq3LVpyfVBKmvuUVqcc/JJYqfwfPkzLQozm7QhKT6oxlJ+h9awei2Ep9GhFvrqe0f8A9G3p0oxVopJdSSSNetcv7UTWn+2fK8Bofi6u+nyceupJ
    Rf7VdnUZZoJRhZ1pupLqXMp+W9+Z1yRJr3qslcblk4IRgw2GhTiowgoxXCKSRnB58ZjYUleckl6vuRrVSS3ZbwjO2aTOs8VK8Ke2p6R7+3sNVmmkc53j
    SWpDrfTf4NIjkav1BbeOP+SDv6MkpuTcpO7bu29rYRVFkcSnvyRLFkVLIgzJJ0Wi1Hpz7or6v7HPI7bKcNydKEeNrvve1nQ9LxeWby+ESk9gAPTEwAAC
    QAAQzBjMTCnCU6klGEU3JvckjM2fK/1H0j5Wo8LSl7Km+e1701w7Uvr3FmLG8leKMN7Gp0q0jnjKvGNCL5kP7pL4voaNHpyzLK2InydCm5y422JfNJ7F
    4n0DJP05hG0sXNzl8EHq012N75eh1KyY8K2/4U+Lo+fYLCVKstWlTlOXVCLl523HW5X+n2InaVecaUepWqT9HZH0rBYOnSgoUqcYRXCEVFehnsad6yn+
    PBNYl8nN5boThKVm4OrLrrPXV/l6PodBRoRgkoRUY9UUoryRlBqVVU+WTSSAAZgyAV1jU5jpDRpXWtrT+GG3ze5ELuZW9Mw2l2bhnjxmZUqSvUml2b5P
    uSOOx+k9apdQ9nH+nbLxf4NO5Nu7bb4t7WaGXXyuIRVWVLo6bH6Uyd1Rjqr4pbZeC4eJoKtWU5a05OUutu5iRdHKzZ7yfkyvybJRdFEXRqskixZFSyIM
    kixZFSyImUbHI8JylVfDHnP7I7KJr8kwXJU1dc+W2X4Nieo9P0/s4lv2yxIAA3jIAABIBDANBprnX8LhZVE/ay5lP5nx8FdnA6I6E1MTatiNaFB7Uv8A
    uVO1X3Lte07zMsg/isXTqV7PDUYLUg9qnUk7ylJdSWqrd50EUXTl8J2ntmGtzzZfl9KjBU6MFCC4RVvFvi+1nqAKXzyzIAAAAIbAJNZm+dUsOue7ze6E
    dsn+F2s1mkukqo3pUdtbi96h+X2HDVKjk3KTbk97bu33mnn1SniezXyZvHhG3zTSCtXbV9Sn8MW1s/qe9mriVRaJyslu3uyjydcsui6KIuihmS6Looi6
    KqJolF0URdFbJliyKlkQZJFkbvR3LteXKyXNi+b2y/weHKsvlWnbdBdJ9nUu07WhSUIqMVaKVkkdP07R+de5XSJyjIAD0JMAAAAAAkAAEWAYAAAAAAAF
    zm9Lc/5CPJU37aS/ZF8e98DZ53mUcPRlUlv3RXxS4I+WYjESqTlObvOTu33mrqM3itl2a+fL4rZdkXbd27u+1va2zIjGi6OXRpoyItEqi0Spk5LouiiL
    oqZMui6KIuiqiaJRdFEXRWyaLI92W5fOtK0dkV0pcF/kzZRk861pPm0+vi/l/J2GFw0acVCCtFG/pNBWR+VrZFkz9lcHhY04KEFsXm31s9AB6CZUrZFg
    ABIAAAAAAEgAAhgMAAAAAhsk1+eKq6E1QV6rVltStd2bu+NrmG9kYb2RwWl+a8vXcYv2dNuK6nLbrS+3gaRGbE4GrS2VKU4/NF28HuZhRycrpttnLrdt
    tl0ZEY0XRrsyjIi0SiLxKmyaLouiiMkFfZx7NpW+SZZFj34PI69TdTaXXPmr12m/wGi0FZ1Zaz6lzY/lluPSZcnSLZhs5nCYWdR6tOLk+zcu98Dqcr0c
    jC0qrUpfD7i/Ju6GHjBKMIqMVwSSRlOng9PiOa5ZdMJERjbgSAb+xMAAyAAAAAAAAACQAACCQAQCQAQLEgApKmnse3vNficgw1TbKjC/Wo6r80bMGHKf
    aMOU+znKmhmGe7Xj3SuvVGB6EU+Faa8Iv7HVAreDG/gj7c/Ryi0Jh/5pftiZqWhtFb6k34xX2OlBH/zYvoe3P0aajozho+45fNKT9NxsMPgqcOhCMfli
    kekE5xRPSJKUuitibEgsMkWBIAIBIAIBIAIBIAIBIAIBIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAP//Z">
    <meta charset="UTF-8">
    <title>User Information</title>
    <style>
        body, html {
            text-align: center;
        }
        span {
            color: black;
            font-size: 20px
        }
        table {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            border: 1px solid black;
            border-collapse: collapse;
            table-layout: auto;
        }
        th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .TableHeaderGoalNumberColumn{
    width: 50%;
}
.TableHeaderGoalColumn{
    width: 20%;
}
    </style>
</head>
<body>
<br><br>
    <img src="https://www.geneseecommunityservices.com/wp-content/uploads/2019/08/GCS_logo_mypath.png">
    <h1>User Information</h1>
    <br><br>
        <table>
       <thead>
           <th class="TableHeaderGoalColumn">Name</th>
           <th class="TableHeaderGoalColumn">Id</th>
           <th class="TableHeaderGoalColumn">Username</th>
           <th class="TableHeaderGoalColumn">Password</th>
           <th class="TableHeaderGoalColumn">User type</th>
       </thead>
       <tbody>
            <tr>
                <td>{{ user.name }}  <button type="submit" name="EditGoalButton" class="EditGoalButton">Edit</button></td>
                <td>{{ user.id }}  <button type="submit" name="EditGoalButton" class="EditGoalButton">Edit</button></td>
                <td>{{ user.unique_id }}  <button type="submit" name="EditGoalButton" class="EditGoalButton">Edit</button></td>
                <td>{{ user.pwd}}  <button type="submit" name="EditGoalButton" class="EditGoalButton">Edit</button></td>
                <td>{{ user.user_type }}  <button type="submit" name="EditGoalButton" class="EditGoalButton">Edit</button></td>
            </tr>
        </tbody>
    </table>
    <br><br>
{#     {% if user.user_type == 1 %}#}
{#    <a href="/home_instructor.html">Back</a>#}
{#     {% endif %}#}
{#    {% if user.user_type == 0 %}#}
{#    <a href="/home_Supervisor.html">Back</a>#}
{#     {% endif %}#}
    <a href="/login.html">Back</a>
</body>
</html>